@font-face {
    font-family: 'Monofur';
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/monof55.ttf);
}
@font-face {
    font-family: 'Monofur';
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/monof56.ttf);
}
@font-face {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Inconsolata-Regular.ttf);
}
@font-face {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/Inconsolata-Bold.ttf);
}
