.techlist {
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 262px;
    background: linear-gradient(var(--deg), var(--dark15), var(--dark20));
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid var(--dark20);
    border-radius: 3px;
    padding: 10px;
    list-style: none;
}

.techlist__item {
    width: 32px;
    height: 32px;
    margin: 0 4px;
}
